<a href="https://colab.research.google.com/github/Ahsen-Shoaib/Python-Assignments/blob/main/Python_Assignment_3_List_and_Tupples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# 1. Create a list of five numbers and append a new number to it. Print the updated list.

# Initial list
numbers = [1, 2, 3, 4, 5]

# Append a new number
numbers.append(6)

# Print the updated list
print("Updated list:", numbers)

# 2. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.

# Initial lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Extend list1 with list2
list1.extend(list2)

# Print the result
print("Extended list:", list1)

# 3. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript", "Ruby"].

# Initial list
languages = ["Java", "C++", "JavaScript", "Ruby"]

# Insert "Python" at index 2
languages.insert(2, "Python")

# Print the result
print("List after insertion:", languages)

# 4. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].

# Initial list
numbers = [10, 20, 30, 10, 40]

# Remove the first occurrence of 10
numbers.remove(10)

# Print the modified list
print("List after removing first occurrence of 10:", numbers)

# 5. Use the pop() method to remove the last element from [100, 200, 300, 400] and print the modified list.

# Initial list
numbers = [100, 200, 300, 400]

# Use pop() to remove the last element
numbers.pop()

# Print the modified list
print("List after popping the last element:", numbers)

Updated list: [1, 2, 3, 4, 5, 6]
Extended list: [1, 2, 3, 4, 5, 6]
List after insertion: ['Java', 'C++', 'Python', 'JavaScript', 'Ruby']
List after removing first occurrence of 10: [20, 30, 10, 40]
List after popping the last element: [100, 200, 300]

In [5]:
# 6. Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30].

# Initial list
numbers = [5, 10, 5, 20, 5, 30]

# Count the occurrences of 5
count_5 = numbers.count(5)

# Print the result
print("The number 5 appears", count_5, "times.")

# 7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order.

# Initial list
numbers = [9, 1, 8, 3, 5]

# Sort in ascending order
numbers_asc = sorted(numbers)

# Sort in descending order
numbers_desc = sorted(numbers, reverse=True)

# Print the results
print("Ascending order:", numbers_asc)
print("Descending order:", numbers_desc)


# 8. Reverse the list [“apple”, “banana”, “cherry”] using the reverse() method.

# Initial list
fruits = ["apple", "banana", "cherry"]

# Reverse the list
fruits.reverse()

# Print the reversed list
print("Reversed list:", fruits)


# 9. Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the copied list and print both lists.

# Initial list
original_list = [1, 2, 3, 4, 5]

# Create a copy of the list
copied_list = original_list.copy()

# Modify the copied list
copied_list.append(6)

# Print both lists
print("Original list:", original_list)
print("Copied list after modification:", copied_list)


# 10. Clear all elements from a list [“hello”, “world”, “python”] using the clear() method.

# Initial list
words = ["hello", "world", "python"]

# Clear all elements from the list
words.clear()

# Print the cleared list
print("List after clear():", words)

The number 5 appears 3 times.
Ascending order: [1, 3, 5, 8, 9]
Descending order: [9, 8, 5, 3, 1]
Reversed list: ['cherry', 'banana', 'apple']
Original list: [1, 2, 3, 4, 5]
Copied list after modification: [1, 2, 3, 4, 5, 6]
List after clear(): []

In [6]:
# 11. Create a tuple with 5 different fruits and print the third fruit.

# Tuple with 5 fruits
fruits = ("apple", "banana", "cherry", "date", "elderberry")

# Print the third fruit (index 2)
print("The third fruit is:", fruits[2])


# 12. Convert the tuple (10, 20, 30, 40, 50) into a list, remove the number 30, and convert it back into a tuple.

# Initial tuple
tup = (10, 20, 30, 40, 50)

# Convert tuple to list
temp_list = list(tup)

# Remove the number 30 from the list
temp_list.remove(30)

# Convert the list back to a tuple
new_tup = tuple(temp_list)

# Print the result
print("New tuple after removing 30:", new_tup)

# 13. Try to append an element to the tuple (“A”, “B”, “C”). What happens? How can you modify a tuple indirectly?

# Initial tuple
tup = ("A", "B", "C")

# Try to append to the tuple (will raise an error)
try:
    tup.append("D")
except AttributeError as e:
    print("Error:", e)

# Modify a tuple indirectly (by converting it to a list, appending, and converting it back)
tup_list = list(tup)
tup_list.append("D")

# Convert the modified list back to a tuple
new_tup = tuple(tup_list)

# Print the modified tuple
print("Modified tuple:", new_tup)

# 14. Unpack the tuple (100, 200, 300) into three separate variables and print them.

# Initial tuple
tup = (100, 200, 300)

# Unpack the tuple into separate variables
a, b, c = tup

# Print the unpacked variables
print("Unpacked values:", a, b, c)


# 15. Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).

# Initial tuple
tup = (7, 1, 7, 3, 7, 5)

# Count the occurrences of 7
count_7 = tup.count(7)

# Print the result
print("The number 7 appears", count_7, "times.")

The third fruit is: cherry
New tuple after removing 30: (10, 20, 40, 50)
Error: 'tuple' object has no attribute 'append'
Modified tuple: ('A', 'B', 'C', 'D')
Unpacked values: 100 200 300
The number 7 appears 3 times.

In [7]:
# 16. Write a function that takes a list and returns a new list with all even numbers removed.


def remove_even_numbers(lst):
    # Create a new list with only odd numbers
    return [x for x in lst if x % 2 != 0]

# Example usage
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
result = remove_even_numbers(numbers)
print("List with even numbers removed:", result)


# 17. Create a function that accepts a list and returns a new list with elements sorted in descending order without using the sort() method.

def sort_descending(lst):
    # Use the sorted function with reverse=True for descending order
    return sorted(lst, reverse=True)

# Example usage
numbers = [5, 3, 9, 1, 7]
result = sort_descending(numbers)
print("List sorted in descending order:", result)


# 18. Given a list of numbers, write a program to remove all duplicate elements and print the unique elements.

def remove_duplicates(lst):
    # Use a set to remove duplicates, then convert it back to a list
    return list(set(lst))

# Example usage
numbers = [10, 20, 10, 30, 40, 20, 50]
unique_numbers = remove_duplicates(numbers)
print("Unique elements:", unique_numbers)

# 19. Given a tuple of names (“Alice”, “Bob”, “Charlie”, “Alice”, “David”), convert it into a list, remove duplicates, and convert it back to a tuple.

def remove_tuple_duplicates(tup):
    # Convert tuple to a list, remove duplicates by converting it to a set, then back to a tuple
    return tuple(set(tup))

# Example usage
names = ("Alice", "Bob", "Charlie", "Alice", "David")
unique_names = remove_tuple_duplicates(names)
print("Tuple with duplicates removed:", unique_names)

List with even numbers removed: [1, 3, 5, 7]
List sorted in descending order: [9, 7, 5, 3, 1]
Unique elements: [40, 10, 50, 20, 30]
Tuple with duplicates removed: ('Alice', 'Charlie', 'Bob', 'David')